@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/sizes.scss';

.chat-message-item {
    border: 1px solid $secondColor;
    background-color: $secondColor;
    border-radius: 0 8px 8px 8px;
    padding: 16px;
    font-size: $fontSize;
    font-weight: bold;
    margin: 8px 16px 8px 0px;
}

.self {
    border: 1px solid $primaryColor;
    background-color: $primaryBackgroundColor;
    border-radius: 8px 0 8px 8px;
    margin: 8px 0px 8px 16px;
}

.chat-message-item__header {
    display: flex;
    justify-content: space-between;
    color: $headerMessageFontColor;
    margin-bottom: 16px;
}

.chat-message-item__message {
    color: $messageFontColor;
}
